html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

#emulator-wrapper {
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	overflow: hidden;
	flex-shrink: 0;

	padding: 10px;
}

* {
	box-sizing: border-box;
	font-family: monospace;
}

canvas {
	border: 4px double black;
	border-radius: 10px;
	overflow: hidden;
	width: 800px;
}

#keyboard {
	display: flex;
	flex-direction: column;
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin-left: 10px;

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.row {
	display: flex;
}

.row:last-child .button {
	margin-bottom: 8px;
}

.button {
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;

	margin: 5px;

	background: rgba(0, 0, 0, 0.1);
	cursor: pointer;
	box-shadow: 0 3px rgba(0, 0, 0, 0.2);

	font-size: 14px;
}

.button.active {
	margin-top: 8px;
	margin-bottom: 2px !important;
	box-shadow: none;
	background: rgba(0, 0, 0, 0.3);
}

#roms-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	overflow: hidden;
	flex: 1;
}

#roms-wrapper * {
	font-size: 13px;
}

#roms-content {
	flex: 1;
	width: 800px;
	/* To align with the canvas */
	margin-right: 212px;

	display: flex;
	overflow: hidden;
	flex-direction: column;
}

#roms-select {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#roms {
	width: 100%;
	height: 22px;
}

#reload {
	margin-left: 10px;
	height: 22px;
	line-height: 22px;

	padding: 0 5px;
	flex-shrink: 0;

	border: 1px solid rgba(0, 0, 0, 0.5);
	background: white;
	border-radius: 2px;
	outline: none;
}

#reload:hover {
	border-color: rgba(0, 0, 0, 1);
}

#reload:active {
	opacity: 0.5;
}

#instructions {
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	margin: 10px 0;
	overflow: auto;
	font-size: 13px;

	white-space: pre-wrap;
}

#link {
	text-align: center;
	margin-top: auto;
	margin-bottom: 10px;
}

@media only screen and (max-width: 1024px) {
	body {
		height: auto;
		min-height: 100%;
	}

	canvas, #roms-content {
		width: 100%;
	}

	#roms-wrapper {
		margin-left: 0;
		padding: 10px;
		overflow-y: auto;
	}

	#roms-content {
		margin-right: 0;
		width: 100%;
		overflow-y: auto;
	}
}

@media only screen and (max-width: 1024px) and (orientation: portrait) {
	#keyboard {
		margin-top: 10px;
	}

	#emulator-wrapper {
		flex-direction: column;
		padding-bottom: 0;
	}

	.row:last-child .button {
		margin-bottom: 6px;
	}

	.button {
		width: 35px;
		height: 35px;
		line-height: 35px;

		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		-webkit-tap-highlight-color: transparent;

		margin: 3px;
	}

	.button.active {
		margin-top: 6px;
		margin-bottom: 0px !important;
	}

	#roms-wrapper * {
		font-size: 11px;
	}

	#instructions {
		padding: 5px;
	}

	#link {
		margin-bottom: 0;
	}
}
